@import url('https://fonts.cdnfonts.com/css/alarm-clock');

.GameInfo {
    display: flex;
    --font-size: 25px;
    height: calc(var(--font-size) + 10);
    width: 100%;
    border: 1px solid var(--border-color-dark);
    border-bottom: none;
}

.GameInfo>* {
    display: flex;
    flex: 1;
    height: 35px;
    justify-content: center;
    align-items: center;
}

.GameInfo>.MinesRemaining {
    font-size: 32px;
    background-color: var(--background-color);
    color: rgb(236, 34, 27);
    font-weight: 900;
    font-family: 'alarm clock', sans-serif;
}

.GameInfo>.Regenerate {
    width: 35px;
    height: 35px;
    font-size: var(--font-size);
    flex: 3;

    background-color: var(--background-color);
}

.GameInfo>.Timer {
    font-size: 32px;
    background-color: var(--background-color);
    color: rgb(236, 34, 27);
    font-weight: 900;
    font-family: 'alarm clock', sans-serif;
}